# dependencies
**/node_modules
/.pnp
.pnp.js
.pnpm-debug.log

# testing
/coverage
junit.xml

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

.vscode

.eslintcache
build-storybook.log
